@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
  Home Paage Under Cosntruction
</div>

@* CSS section *@

@*<style>
.mdl-layout {
	align-items: center;
    justify-content: center;
}

.mdl-layout__content {
	padding: 24px;
	flex: none;
}
.custom-signup-button{
 margin-left: 65%;
/* margin-right: 10px; */
position: absolute;
}
</style>*@


@* Script Section *@

<script>
    
    $(document).ready(function () {
    
    });
</script>